*.pyc
library/og.txt
tests/test_saved_hp.hp
**opengrid.cfg
**.ipynb_checkpoints
*.pkl
tests/data_backup/
data/
test_scripts/
library/houseprint-d74f58100c93.json
*.csv
.idea/*

scripts/*.json
scripts/*.csv
