*.pyc
opengrid/config/og.txt
**opengrid.cfg
**.ipynb_checkpoints
*.pkl
opengrid/tests/data_backup/
opengrid/config/houseprint-d74f58100c93.json
.idea/*
.spyder*
notebooks/*.json
notebooks/*.csv
dist/
build/
opengrid.egg-info/
data/*
