include README.md
include LICENSE
include requirements.txt
include opengrid/library/houseprint/tests/test_saved_hp.hp
include opengrid/library/tests/*
include opengrid/library/tests/data/*
include opengrid/library/tests/data/cache_day/*
include notebooks/Analysis/*
include notebooks/Demo/*
include notebooks/WIP/*
