numpy
scipy
matplotlib
pandas>=0.18.1
gspread==0.2.5
requests>=2.12
requests_futures
jupyter
charts
python-forecastio
geopy
oauth2client==1.5.2
pyopenssl
tmpo==0.2.2
jsonpickle
python-coveralls 
coverage 
pint
beautifulsoup4
iso8601
geocoder
astral
tqdm
cached_property
statsmodels
