# Example configuration file for opengrid
#
# You need a configuration file in the opengrid library
# directory, in the 'current' directory and/or pass it to the 
# constructor of the Config class. The latter always takes
# precedence over the former.

[data]
# Used for all kind of data files that are saved locally, eg by the cache.py module
# For the daily cache, a subfolder called cache_day will be created in the folder specified below
folder: path

[opengrid_server]
password: CHANGE_ME

[houseprint]
json: /path/to/google/oAuth2/file.json

[Wunderground]
apikey: CHANGE_ME

[Forecast.io]
apikey: CHANGE_ME

[tmpo]
# specify the location of tmpo-py.  Not needed normally as tmpo can now be installed by pip
folder: path_to_folder_containing_tmpo.py
# data: only specify the path to the tmpo-data if different from the default
# data: path_to_tmpo_data

[env]
# type can be dev or prod.  
# Use this in your scripts to avoid execution of detailed analysis for jobs on the server
type: dev 
# plots can be inline (default) or qt.  
# Use qt if you want all plots to be rendered in a separate window.
# This can be useful for zooming or panning.
plots: inline

[Slack]
webhook: Get the webhook URL from an OpenGrid developer
